/*--text: #ffffff;
--background: #012f50;
--primary: #208796;
--secondary: #4fa097;
--accent: #fcc201;*/

@import url('https://fonts.googleapis.com/css?family=Lato:700|Rubik:400|Baloo Bhaijaan 2:400');

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #012f50;
    color: white;
    font-weight: 400; /* Font weight for Rubik */
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('./Resources/ornaments.png');
    background-size: cover;
    background-repeat: repeat;
    opacity: 0.5;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
html {
    font-size: 100%;
}
h1 {
    font-size: 4.210rem;
}
h2 {
    font-size: 3.158rem;
}
h3 {
    font-size: 2.369rem;
}
h4 {
    font-size: 1.777rem;
}
h5 {
    font-size: 1.333rem;
}
small {
    font-size: 0.750rem;
}


.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: 50px 30px;
    border-radius: 15px;
    background-color: transparent;
}

.leftside { 
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    justify-self: center;
    gap: 10px;
    background-color: #208796;
    border-radius: 15px;
}
.leftside h3 {
    margin: 0;
    padding: 10px;
}

.location-container {
    display: flex;
    align-items: center;
    /*justify-content: left;*/
    gap: 50px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.location-container h4, h5 {
    margin: 0;
}
.location-icon {
    width: 35px;
    height: auto;
    fill: #012f50;
    transition: fill 0.3s ease;
    padding: 5px;
    border-radius: 50px;
    background-color: whitesmoke;
}
.location-icon:hover {
    fill: #fcc201;
    cursor: pointer;
    background-color: #4fa097;
}

.dropbtn {
    background-color: whitesmoke;
    color: #012f50;
    padding: 10px;
    font-size: 1.333rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #4fa097;
    color: white;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 400px;
    overflow-y: auto;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.show {display:block;}

.langSelector {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
    background-color: #012f50;
    font-size: 1.7rem;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    margin-right: auto;
    transition: 0.3s ease;
}
.langSelector:hover {
    text-decoration: none;
    color: whitesmoke;
    background-color: #14CC58;
}

.rightside {
    padding-right: 10px;
    padding-left: 10px;
    background-color: #4fa097;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.rightside h4{
    padding: 0px;
    margin: 0px;
}

.bottomside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    background-color: #208796;
    border-radius: 15px;
    padding-bottom: 20px;
}
.bottomside time {
    border-radius: 15px;
    padding: 15px;
    color: #012f50;
    background-color: whitesmoke;
}
.bottomside h4 {
    margin: 20px;
}

.prayer {
    text-align: center;
    gap: 5px;
}

/* Additional styling for better visibility */
footer{
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #4fa097;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.lnktrbtn img {
    width: 100px;
    height: auto;
}
.kofibtn img{
    width: 200px;
    height: auto;
}


/* screen adapting */
@media screen and (max-width: 594px) and (max-height: 837px) {
    body {
      font-size: 14px; /* Make all text smaller */
    }
  
    .location-container {
      gap: 10px; /* Shorten the gap */
      padding: 5px; /* Shorten the padding */
    }
  
    .location-icon {
      width: 25px; /* Make the location icon smaller */
    }
  
    .dropbtn {
      font-size: 1rem; /* Make the button text smaller */
      padding: 8px; /* Shorten the button padding */
    }
  
    .langSelector {
      font-size: 1.5rem; /* Make the language selector text smaller */
    }
    .langSelector:hover {
        background-color: #012f50;
    }
  
    .bottomside time {
      padding: 5px; /* Shorten the time element padding */
    }
    .bottomside .prayer{
        padding: 5px;
    }

    footer {
        padding: 5px; /* Shorten the padding */
    }
    
    footer .lnktrbtn img{
      width: 80px; /* Make the images smaller */
      height: auto; /* Maintain aspect ratio */
    }
    /* Add more styles for smaller screens as needed */
  }